body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  background-image: url("../images/criss-cross.png");
}
.container {
  position: relative;
}
.footer {
position: absolute;
color: #4aaaa5;
border-top: 8px solid #4aaaa5;
padding: 10px 20px;
width: 100%;
background: #777777;
}
footer h5 {
  font-size: 15px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
}