body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  background-image: url("../images/criss-cross.png");
}
.navbar-expand-md {
  margin-top: 10px;
  border: solid 1px lightgray;
}
.navbar-light .navbar-brand {

  background: #4aaaa5;
  color: #ffffff;
  font-size: 25px;
  padding: 25px;
  margin-left: 165px;
} 
h1 {
  color: #4aaaa5;
  border-bottom: solid 1px lightgray;
}
body h1 {
  color: #4aaaa5;
}

p {
  color: gray;
  line-height: 2;
}

.page-header {
  padding-top: 10px;
}
.col-sm-4{
  padding: 20px;
}

.card-image-top{
  width: 150px;
  height: 150px;
}
.card-body {
  background: #4aaaa5;
  text-align: center;
}
a.card-link {
    color: #ffffff;
}
body label {
  color:gray;
}
.btn-primary{
  background: #4aaaa5;
  border-color: #4aaaa5;
  padding: 15px 30px;
}
footer.page-footer.font-small.blue.fixed-bottom {
border-top: 8px solid #4aaaa5;
padding: 10px 20px;

background: #777777
}
footer h5 {
  font-size: 15px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 640px) {
 
  .navbar-light .navbar-brand {
    margin: auto;
    max-width: 100%;
    float: none;
    padding: 25px;
 
  } 
  .navbar-expand-md {
    max-width: 100%;
    margin: auto;
    float: none;
  }
  
  .nav-item .nav-link {
    list-style-type: none;
    display: inline-block;  
    margin: auto;
    padding: none;
  color: blue;
  }
  .navbar-nav.ml-auto {
    display: inline-block;
    float: none;
  }
  }
  